<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCNSSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>addObserver:forKeyPath:options:context:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>allObjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>anyObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>containsObject:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>description.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>descriptionWithLocale:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>enumerateObjectsUsingBlock:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>enumerateObjectsWithOptions:usingBlock:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>filteredSetUsingPredicate:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>initWithArray:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>initWithObjects:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>initWithObjects:count:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>initWithSet:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>initWithSet:copyItems:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>intersectsSet:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>isEqualToSet:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>isSubsetOfSet:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>makeObjectsPerformSelector:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>makeObjectsPerformSelector:withObject:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>member:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>objectEnumerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>objectsPassingTest:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>objectsWithOptions:passingTest:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>removeObserver:forKeyPath:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>removeObserver:forKeyPath:context:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>set.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>setByAddingObject:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>setByAddingObjectsFromArray:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>setByAddingObjectsFromSet:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>setValue:forKey:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>setWithArray:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>setWithObject:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>setWithObjects:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>setWithObjects:count:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>setWithSet:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>sortedArrayUsingDescriptors:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>valueForKey:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C296111119C9626300AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296152C19C9726500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296153C19C9727100AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296154C19C9727D00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296155C19C9728B00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296156C19C9729800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296157C19C972A300AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296158C19C972AD00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296159C19C972B800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29615AC19C972C200AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29615BC19C972CF00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29615CC19C972D800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29615DC19C972E200AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29615EC19C972EC00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29615FC19C972F700AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296160C19C9731000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296161C19C9731D00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296162C19C9732700AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296163C19C9733100AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296164C19C9733A00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296165C19C9734800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296166C19C9735300AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296167C19C9735E00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296168C19C9736800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296169C19C9737800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29616AC19C9738500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29616BC19C9739000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29616CC19C9739D00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29616DC19C973AA00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29616EC19C973B500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29616FC19C973BF00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296170C19C973CA00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296171C19C973D700AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296172C19C973E000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296173C19C973EB00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296174C19C973F500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296175C19C9740000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296176C19C9740A00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
