<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCNSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>boolValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>capitalizedString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>caseInsensitiveCompare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>characterAtIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>compare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>doubleValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>hasPrefix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>hasSuffix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>init.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>initWithCString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>initWithContentsOfFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>initWithContentsOfURL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>initWithFormat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>initWithString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>initWithUTF8String.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>intValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>isAbsolutePath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>isEqualToString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>lastPathComponent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>length.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>lowercaseString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>pathExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>rangeOfString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>string.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>stringByAbbreviatingWithTildelInPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>stringByAppendingPathComponent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>stringByAppendingPathExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>stringByAppendingString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>stringByDeletingLastPathComponent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>stringByDeletingPathExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>stringByExpandingTildeInPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>stringByTrimmingCharactersInSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>stringWithCString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>stringWithContentsOfFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>stringWithContentsOfURL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>stringWithFormat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>stringWithString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>stringWithUTF8String.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>substringFromIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>substringToIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>substringWithRange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>uppercaseString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>writeToFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>writeToURL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2513C7719C67ADE005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513C9219C67B9F005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513CA219C67F7F005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513CB519C6902F005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513CC519C69045005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513CD519C69067005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513CE519C69080005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513CF519C69099005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D0519C690A5005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D1519C690B4005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D2519C690C4005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D3519C690DF005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D4519C690FB005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D5519C69111005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D6519C6913D005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D8519C6D961005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513D9519C6D996005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513DA519C6D9A3005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513DB519C6D9AF005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513DC519C6D9C7005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513DD519C6D9EC005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513DE519C6D9FA005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513DF519C6DA16005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E0519C6DA32005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E1519C6DA49005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E2519C6DA9C005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E3519C6DB07005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E4519C6DB21005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E5519C6DB3F005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E6519C6DB4A005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E7519C6DBA5005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E8519C6DBC3005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513E9519C6DBF4005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513EA519C6DC10005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513EB519C6DC26005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513EC519C6DC47005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513ED519C6DC6E005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513EE519C6DCA7005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513EF519C6DCCE005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513F0519C6DCE9005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513F1519C6DD02005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513F2519C6DD4F005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513F3519C6DD72005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513F4519C6DD82005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2513F5519C6DDA0005F8965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
