<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>allKeys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>allKeysForObject:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>allValues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>count.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>description.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>descriptionInStringsFileFormat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>descriptionWithLocale:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>descriptionWithLocale:indent:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>dictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>dictionaryWithContentsOfFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>dictionaryWithContentsOfURL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>dictionaryWithDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>dictionaryWithObject:forKey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>dictionaryWithObjects:forKeys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>dictionaryWithObjects:forKeys:count.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>dictionaryWithObjectsAndKeys:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>enumerateKeysAndObjectsUsingBlock:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>enumerateKeysAndObjectsWithOptions:usingBlock:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>fileCreationDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>fileExtensionHidden.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>fileGroupOwnerAccountID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>fileGroupOwnerAccountName.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>fileHFSCreatorCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>fileHFSTypeCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>fileIsAppendOnly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>fileIsImmutable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>fileModificationDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>fileOwnerAccountID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>fileOwnerAccountName.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>filePosixPermissions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>fileSize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>fileSystemFileNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>fileSystemNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>fileType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>getObjects:andKeys:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>init.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>initWithContentsOfFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>initWithContentsOfURL:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>initWithDictionary:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>initWithDictionary:copyItems:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>initWithObjects:forKeys:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>initWithObjects:forKeys:count:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>initWithObjectsAndKeys:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>isEqualToDictionary:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>keyEnumerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>keysOfEntriesPassingTest:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>keysOfEntriesWithOptions:passingTest:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>keysSortedByValueUsingComparator:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>keysSortedByValueUsingSelector:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>keysSortedByValueWithOptions:usingComparator:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>objectEnumerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>objectForKey:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>objectForKeyedSubscript:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>objectsForKeys:notFoundMarker:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>sharedKeySetForKeys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>valueForKey:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>writeToFile:atomically:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>writeToURL:atomically:.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C29610A519C9621B00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296118C19C9665F00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296119C19C9669000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29611AC19C9679D00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29611BC19C967B500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29611CC19C967CF00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29611DC19C967DA00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29611EC19C9680700AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29611FC19C9681500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296120C19C9682200AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296121C19C9682A00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296122C19C9683400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296123C19C9684000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296124C19C9686D00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296125C19C9687900AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296126C19C9688400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296127C19C9688F00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296128C19C9692600AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296129C19C9693400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29612AC19C9695A00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29612BC19C9696C00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29612CC19C9697600AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29612DC19C9697F00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29612EC19C9698A00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29612FC19C9699600AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296130C19C9699F00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296131C19C969AA00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296132C19C969B500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296133C19C969CE00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296134C19C969DB00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296135C19C969E800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296136C19C969FB00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296137C19C96A2F00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296138C19C96A3A00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296139C19C96A4800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29613AC19C96A5600AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29613BC19C96A6400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29613CC19C96A7500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29613DC19C96A8100AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29613EC19C96A9800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29613FC19C96AA400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296140C19C96AAE00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296141C19C96AB900AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296142C19C96AC400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296143C19C96AD300AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296144C19C96AE100AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296145C19C96AED00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296146C19C96AF800AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296147C19C96B0500AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296148C19C96B1100AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296149C19C96B3400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29614AC19C96B4000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29614BC19C96B4C00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29614CC19C96B5700AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29614DC19C96B6200AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29614EC19C96B7400AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29614FC19C96B8000AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296150C19C96B8B00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C296151C19C96B9D00AFCB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
